.horizontal-scroll-container {
    overflow-x: auto !important;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.kanban-card-container {
    max-height: 50vh;
    overflow-y: auto !important;
    scrollbar-width: thin;
}
